
.footer-clearspace {
  width: 100%;
  height: 33px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: $black;
  color: $white;
}

.footer-wrapper {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  padding: .5rem 1.5rem;
}

.footer-text {
  font-size: 12px;
  font-weight: 300;
}

.copywrite {
  margin-right: auto;
}
