.payment-text {
  margin-bottom: 2rem;
}

.payment-container {
  max-width: 400px;
  margin: 0 auto;
}

.payment-container-header {
  padding: 0.5rem 1rem;
  background-color: $black;
  color: $white;
  text-align: center;
}

.payment-container-main {
  padding: 1rem 0.5rem;

  input[type='text'] {
    width: 100%;
    margin: 0.5rem 0 1rem;
    padding: 0.5rem;
  }
}

.payment-group {
  margin: 0 auto;
  text-align: center;
}
