* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $body-font;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 1rem;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
}

.section {
  padding: 3rem 1.5rem;
}

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
}

.section-header {
  width: 100%;
  margin-bottom: 0.5rem;
  font-family: $head-font;
  font-size: 36px;
  text-align: center;
}

.section-subheader {
  width: 100%;
  margin-bottom: 1rem;
  color: $primary400;
  font-family: $body-font;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

.col-2 {
  flex: 1 100%;
}

.background-medium {
  background-color: $gray700;
  color: $white;
}

@media all and (min-width: 37.5rem) {
  .section {
    padding: 5rem 3rem;
  }

  .section-header {
    font-size: 48px;
  }

  .section-subheader {
    margin-bottom: 2rem;
    font-size: 36px;
  }

  .col-2 {
    flex: calc(50% - 1rem);
    margin: 0 0.5rem;
  }
}

@import './components/hero';
@import './components/about';
@import './components/product';
@import './components/payments';
@import './components/footer';
